name: Lint code and compile setup script

on:
  workflow_call:

jobs:
  lint:
    uses: stegripe/workflows/.github/workflows/pnpm-lint.yaml@main
    secrets: inherit

  compile:
    needs: lint
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: .node-version
          check-latest: true
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test compile
        run: pnpm run build && rm -rf dist
