name: Publish to NPM and GitHub registry

on:
  workflow_call:

jobs:
  publish:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - registry: https://registry.npmjs.org/
            token_secret_key: NPM_TOKEN
          - registry: https://npm.pkg.github.com/
            token_secret_key: GITHUB_TOKEN
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 2

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: .node-version
          check-latest: true
          cache: pnpm
          registry-url: ${{ matrix.registry }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Compile/Build TypeScript project if present
        run: pnpm run --if-present build

      - name: Publish package to NPM and GitHub packages registry
        run: pnpm run release --registry ${{ matrix.registry }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets[matrix.token_secret_key] }}
